<%- include("partials/header") %>

<div class="container my-4">
    <h4 class="explore2 title"><%= currentUser.username %>'s Profile</h4>
    <div class="explore sml">
        <div class="date"><em>Joined <%= currentUser.joined.toDateString() %></em></div>
    </div>
    <% result.forEach(function(post){ %>
    <div class="card">
        <div class="row">
            <% if( post.image ) { %>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <p class="card-text"><%= post.body.substring(0, 250) %>...</p>
                    <a href="/posts/<%= post.id %>"><button class="newpost">Read More</button></a>
                </div>
            </div>
            <div class="col-md-4 my-auto">
                <img class="pd" src="<%= post.image %>" alt="Image">
            </div>
            <% } else { %>
            <div class="col-md-12">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <p class="card-text"><%= post.body.substring(0, 150) %>...</p>
                    <a href="/posts/<%= post.id %>"><button class="newpost">Read More</button></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% }) %>
</div>


<%- include("partials/footer") %>