<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>">
            <div class="content">
                <span><strong><%= post.created_at.toDateString() %></strong></span>
            </div>
            <div class="description">
                <p>
                    <%= post.body %>
                    <br>
                    <em>By <%= post.username %></em>
                </p>
            </div>
            <% if(currentUser){ %>
                <% if( post.user_id == currentUser.id ) { %>
                    <a class="ui inverted tiny orange button" href="/posts/<%= post.id %>/edit">Edit Blog</a>
                    <form id="delete" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                        <button class="ui inverted tiny red button">Delete</button>
                    </form>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
 
<%- include("partials/footer") %>
